<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ganesh Thorat">
    <meta name="keywords" content="Thyroid Disease Prediction">

    <!-- Title Page-->
    <title>Predict</title>

    <!-- Icons font CSS-->
    <link rel="shortcut icon" type="image/jpg" href="static/images/banner_1.png" />
    <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="static/css/main.css" rel="stylesheet" media="all">
    <link href="static/css/predict.css" rel="stylesheet">

</head>

<body>

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Prediction Form</h2>
                </div>
                <div class="card-body">
                    <form action="/predictresult" method="POST">
                        <div class="form-row">
                            <div class="name">Sex</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="sex" required="required">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Age</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="age" min="0" max="100" placeholder="Age" required="required">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name">Thyroid stimulating hormone level</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="TSH" min="0.0" max="530.0" placeholder="0.4 to 530.0 mlU/L" required="required" step="any">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">T3 Levels</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="T3" min="0.0" max="11.0" placeholder="0.0 to 11.0 mlU/L" required="required" step="any">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Total Thyroxine TT4</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="TT4" min="0.0" max="430" placeholder="20-430" required="required" step="any">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">T4U</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="T4U" min="0.0" max="2.0" placeholder="0.0-2.0" required="required" step="any">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Free Thyroxine Index</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="FTI" min="0.0" max="395.0" placeholder="2.0-395.0" required="required" step="any">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Are you suffering from Goitre?</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="goitre" required="required">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Are you suffering from Hypopituitarism?</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="hypopituitary" required="required">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Are you Pregnant?</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="pregnant" required="required">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Are you suffering from any Sickness?</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="sick" required="required">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">If you have had Thyroid Surgery before?</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="thyroid_surgery"thyroid_surgery required="required">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">If you have any Tumor?</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="tumor" required="required">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Are you suffering from any Psychiatric (Mental) Disorders?</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="psych" required="required">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Are you going through any Lithium Medications?</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="lithium" required="required">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Predict</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section id="footer">
        <div class="social-links">
            <a href="https://github.com/Ganesh-Thorat-01" target="_blank"><i class="fa fa-github"></i></a>
            <a href="mailto:thorat.ganeshscoe@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
            <a href="https://www.instagram.com/ganesh_thorat__/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/Ganesh_Thorat_" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCXhvVTaw3a8onPxwv2TbwUw" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <p>&copy; Copyright 2022 Ganesh Thorat</p>
        </div>
    </section>

    <!-- Jquery JS-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="static/vendor/select2/select2.min.js"></script>
    <script src="static/vendor/datepicker/moment.min.js"></script>
    <script src="static/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="static/js/global.js"></script>

</body>

</html>
<!-- end document-->